<%- include('../../partials/page_start', {title:'About', description: 'Hays is a vibrant community located in northwest Kansas between Kansas City and Denver on I-70! Are you an employer? <a class="underline hover:opacity-100" href="/signup">Click here to sign up!</a>',paddingBottom:'pb-32'}) %>

<div class="max-w-4xl mx-auto mb-24 mt-12 px-3 lg:px-0">
	<div class="text-xl font-bold mb-2 mt-8">About Hays</div>
	<div class="pb-4">Hays, America is a <a class="text-blue-500 hover:text-blue-400 underline"
																					href="https://www.fhsu.edu"
																					target="_blank">university</a> community of
		20,000 people located half way between Kansas City
		and Denver on Interstate 70. We are the regional hub of Northwest Kansas for retail, education, medical service,
		entertainment, and recreation. <a class="text-blue-500 hover:text-blue-400 underline"
																			href="https://www.ellisco.net/">Ellis
			County</a> has the largest retail pull
		factor in the state. Our <a class="text-blue-500 underline hover:text-blue-400"
																href="https://www.downtownhays.com/">downtown</a> is being
		revitalized with unique shops and entertainment and the north side of town is expanding with additional retail
		offerings. We have a very diversified mix of businesses in the area although agriculture and oil are still major
		parts of the regional economy. The Hays Regional Airport offers a commercial flight multiple times each day to
		Denver and, according to recent rankings by Progressive Farmer, E-Podunk, and BizJournal; <a
			class="text-blue-500 underline hover:text-blue-400" href="https://hayschamber.com/">Hays, America</a> has a
		great quality of life. We happen to agree.
	</div>
	<div class="text-xl font-bold mb-2">Childcare</div>
	<div class="pb-4 ">
		Childcare Aware of Kansas (877.678.2548) <a class="text-blue-500 underline hover:text-blue-400"
																								href="https://www.ks.childcareaware.org">www.ks.childcareaware.org</a> A
		FREE service!!
	</div>


	<h2>Job Seekers Tips</h2>

	<div class="pb-4 font-bold">Professional Email Address and Voicemail Message</div>

	<div class="pb-4 ">When you begin your job search, make sure your email address and voicemail message are simple and
		professional, rather
		than off the wall, inappropriate or bizarre. By doing so, you can ensure they will not harm your chances of being
		contacted by an employer. Paying attention to these small details can greatly improve your prospects of being hired.
	</div>

	<div class="pb-4 ">It seems basic, but too often a job seeker applies to a job with an email address like
		babyguuurrrl3948@xyz.com or
		klingonking@xyz.com. Definitely a turn-off for potential employers.
	</div>

	<div class="pb-4 ">ame goes for your voicemail message. If an employer calls you up and hears the message, "Reynolds
		Pizza, what's your
		order? KIDDING! It's Brett, leave it after the beep," chances are they'll hang up without leaving a message. An
		employer will consider a voicemail message like this unprofessional.
	</div>

	<div class="pb-4 ">Instead, follow these rules for professional email addresses and voicemail messages:</div>

	<div class="pb-4 font-bold">Email address</div>

	<div class="pb-4 ">Create a new email address specifically for your job search. This is a good step regardless, so you
		don't mix up your
		personal and job search emails.
	</div>
	<div class="pb-4 ">If possible, include your name in your email address like firstname.lastname@xyz.com so the
		employer can find email
		correspondence from you easily.
	</div>
	<div class="pb-4 ">It’s acceptable to create an email address that corresponds to your industry or profession, such as
		SallySalesManager@xyz.com.
	</div>
	<div class="pb-4 ">Avoid unnecessarily complicated email addresses, especially those with long strings of numbers.
		Mistakes could easily
		be made while entering your email address, making it difficult for potential employers to contact you.
	</div>

	<div class="pb-4 font-bold">Voicemail message</div>

	<div class="pb-4 ">Include your name or phone number in the message, mention you’re unavailable to answer the phone.
		Then ask them to
		leave their name, number and message, and say you will get back to them as soon as possible.
		Example: "Hi, this is Rachel. I’m unable to take your call now, but please leave your name, number and message after
		the tone and I’ll return your call as soon as possible. Thank you.”

		<div class="pb-4 ">Speak clearly, and sound professional and polite when recording your greeting.
			Avoid background noise, musical or other “cute” messages, religious messages, joke messages, and profanity.
		</div>


		<div class="pb-4 font-bold">Job Fair Tips</div>

		<div class="pb-4 ">In preparation for job fairs, make note of the following tips :</div>
		<div class="pb-4 ">Come prepared. Bring many copies of your resume to submit to employers. If you spend a little
			time getting some
			background on an organization, then you can ask very focused and specific questions. This impresses
			representatives
			because it shows a genuine interest in them.
		</div>

		<div class="pb-4 ">Dress appropriately. First impressions are important. Dress BUSINESS PROFESSIONAL.</div>


		<div class="pb-4 ">Introduce yourself and be prepared to give your "career pitch." Extend your hand, say "hello"
			and state your name.
			Have your resume ready to give to the employer. Be ready to talk about your career interests.
		</div>


		<div class="pb-4 ">Take notes when you inquire about next steps and the possibility of talking with additional
			managers.
		</div>


		<div class="pb-4 ">Ask the representative for his/her card. Having the business card of the representative you
			have just spoken gives
			you direct contact with the organization, including the proper spelling of the representative's name, direct
			telephone
			line, etc.
		</div>
</div>

<%- include('../../partials/page_end') %>