<div class="col-span-1 md:col-span-2 bg-red-200">
    <ul class="flex flex-col">
        <li>
            <a href="/admin/dashboard">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/admin/jobs">
                Jobs
            </a>
        </li>
        <li>
            <a href="/admin/business">
                Business
            </a>
        </li>
        <li>
            <a href="/admin/profile">
                Profile
            </a>
        </li>
    </ul>
</div>