<%/* ===========================================================================
Description: Employer single listing. To Do: Params:
=========================================================================== */%>
<div class="w-1/3 max-h-auto overflow-hidden bg-white rounded shadow-lg">
  <div class="px-4 py-4">
    <div class="font-bold text-lg">
      Midwest Energy<a href=""
        ><span class="mdi mdi-open-in-new ml-1 text-blue-500"></span
      ></a>
    </div>
    <div class="italic text-gray-700 text-sm">
      <div>HR Contact: Jane Doe</div>
      <div>Email: janedoe@example.com</div>
    </div>
    <div class="text-gray-700 mt-2 text-sm h-64 pb-2 pr-4 overflow-scroll">
      <div class="pb-4">
        Midwest Energy is a customer-owned electric and natural gas cooperative,
        serving 93,000 customers in 40 counties in central and western Kansas.
      </div>
      <div class="pb-4">
        Our mission is to provide safe, reliable and efficient energy services.
        We strive to deliver innovative, affordable and environmentally sound
        solutions as well as foster leadership and growth throughout our region.
      </div>
      <div>
        We have a vision to build a brighter future for our customer-owners. So,
        it is important that we value safety, service, stewardship, integrity,
        innovation, collaboration and a community focus.
      </div>
    </div>
  </div>
</div>
