<%/* ===========================================================================
Description: Footer for copyright, etc. To Do: Params:
=========================================================================== */%>
<div class="text-gray-500">
  <div class="">
    © Work Hays&nbsp;
    <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script>
  </div>
  <div>
    <a class="hover:underline hover:text-blue-400" href="/privacy"
      >Privacy Policy</a
    >
    |
    <a class="hover:underline hover:text-blue-400" href="/terms"
      >Terms of Service</a
    >
  </div>
</div>
