<%/*
===========================================================================

Description:
Footer for copyright, etc.

To Do:

Params:


===========================================================================
*/%>
<div class="pt-20 flex justify-center items-center mx-auto w-full text-gray-500 flex-col">
    <div class="">© Work Hays&nbsp;<script type="text/javascript">
    document.write(new Date().getFullYear());
    </script></div><div>Privacy Policy | User Agreement</div>
</div>
