<% /* ===========================================================================
Description: Footer for copyright, etc. To Do: Params:
=========================================================================== */ %>
<div class="bg-gray-200 max-w-6xl mx-auto  text-center text-gray-500">
	<div class="">
		© Work Hays&nbsp;
		<script type="text/javascript">
      document.write(new Date().getFullYear());
		</script>
	</div>
	<div>
		<a class="hover:underline hover:text-blue-400" href="/privacy"
		>Privacy Policy</a
		>
		|
		<a class="hover:underline hover:text-blue-400" href="/terms"
		>Terms of Service</a
		>
		|
		<a class="hover:underline hover:text-blue-400" href="/help"
		>Help</a
		>
	</div>
</div>