<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/dist/app.<%= APP_VERSION %>.css" />
    <script
        type="text/javascript"
        src="/dist/bundle.<%= APP_VERSION %>.js"
        defer
    ></script>
</head>
