<div
    class="text-white"
    style="background-image: linear-gradient( 90deg,  rgba(107,52,255,1) 16.5%, rgba(51,159,247,1) 81% );"
>
    <div class="max-w-4xl mx-auto pt-32 pb-20">
        <h1 class="font-black text-4xl text-white leading-tight tracking-wide">
            Current Job Openings
        </h1>
        <p class="text-lg text-white opacity-75">
            Browse current job openings in Hays, KS and surrounding communities.
        </p>
    </div>
</div>
