<% /*
===========================================================================

Description:
Navbar of website, used on all views.

To Do:

Params:


===========================================================================
*/ %>

<head>
	<%- include('../partials/head', {title: 'Work Hays'}) %>
</head>
<div class="w-full flex fixed z-10 bg-white justify-between items-center p-2 border-b-2 shadow-md">
	<a href="/">
		<div class="flex flex-row items-center">
			<div class="mr-2"><span class="mdi mdi-briefcase-outline text-5xl text-blue-500"></span></div>
			<h2><span class="font-light text-gray-600">WORK</span><span class="font-bold">hays</span></h2></div>
	</a>
	<div>
		<a title="Home" href="/"
			 class="mdi mdi-home hover:text-blue-400 text-blue-500 focus:outline-none mr-4">Home</a>
		<a title="Events" href="/"
			 class="mdi mdi-calendar hover:text-blue-400 text-blue-500 focus:outline-none mr-4">Events
		</a>
		<a title="Information" href="/"
			 class="mdi mdi-information-outline hover:text-blue-400 text-blue-500 focus:outline-none mr-4">Info
		</a>
		<a title="Help" href="/"
			 class="mdi mdi-help hover:text-blue-400 text-blue-500 focus:outline-none">Help
		</a>
		<a href="/signup">
			<button class="bg-blue-500 px-4 py-2 rounded hover:bg-blue-400 text-white focus:outline-none">Signup for
				Account
			</button>
		</a>
		<a href="/signin">
			<button class="bg-green-500 px-4 py-2 rounded hover:bg-green-400 text-white focus:outline-none">Employer
				Sign In
			</button>
		</a>
		<a title="Account" href="/account">
			<button
				class="mdi mdi-account bg-blue-500 h-10 w-10 text-xl rounded-full hover:bg-blue-400 text-white focus:outline-none"></button>
		</a>
		<a title="Sign Out" href="/logout">
			<button
				class="mdi mdi-logout bg-red-500 h-10 w-10 text-xl rounded-full hover:bg-red-400 text-white focus:outline-none"></button>
		</a>
	</div>

</div>