<%/*
===========================================================================

Description:
Navbar of website, used on all views.

To Do:

Params:


===========================================================================
*/%>

<head>
    <%- include('../partials/head', {title: 'Home Page'}) %>
</head>
<div class="w-full flex justify-between p-12 border-b-2 shadow-md">
    <h1>Work Hays</h1>
    <div>
    <button class="bg-blue-500 px-4 py-2 rounded text-white">Inquire for Account</button>
    <button class="bg-green-500 px-4 py-2 rounded text-white">Employer Login</button>
    </div>
</div>