<% /*
===========================================================================

Description:
Navbar of website, used on all views.

To Do:

Params:


===========================================================================
*/ %>

<nav x-data="{ open: false }" class="bg-gray-800">
  <div class="max-w-4xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center px-2 lg:px-0">
        <div class="flex-shrink-0">
          <h1 class="text-lg">
            <a href="/" class="font-bold text-white">Work Hays</a>
          </h1>
        </div>
        <div class="hidden lg:block lg:ml-6">
          <div class="flex">
            <a href="/" class="px-3 py-2 rounded-md text-sm leading-5 font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Jobs</a>
            <a href="/employers" class="ml-4 px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Employers</a>
            <a href="/about" class="ml-4 px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">About</a>
            <a href="/contact" class="ml-4 px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Contact</a>
          </div>
        </div>
      </div>

      <!-- mobile menu button -->
      <div class="flex lg:hidden">
        <button @click="open = !open" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out">
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            <path :class="{'hidden': !open, 'inline-flex': open }" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="hidden lg:block lg:ml-4">
        <div class="flex items-center">
          <div @click.away="open = false" class="relative flex-shrink-0" x-data="{ open: false }">
            <div>
              <% if (user) { %>
                <button @click="open = !open" class="flex items-center px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out border border-gray-700">
                  Account
                  <span>
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" ><polyline points="6 9 12 15 18 9"></polyline></svg>
                  </span>
                </button>
              <% } else { %>
                <a href="/signin" class="block px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out border border-gray-700">
                  Sign In or Sign Up
                </a>
              <% } %>
            </div>
            <% if (user) { %>
              <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white">
                <div class="px-4 py-3">
                  <p class="text-sm leading-5">
                    Signed in as
                  </p>
                  <p class="text-sm leading-5 font-medium text-gray-900">
                    <%= user.email %>
                  </p>
                </div>
                <div class="border-t border-gray-100"></div>
                <div class="py-1">
                  <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">My Jobs</a>
                  <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">Account Settings</a>
                  <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">Support</a>
                </div>
                <div class="border-t border-gray-100"></div>
                <div class="py-1">
                  <a href="/logout">
                    <button type="submit" class="block w-full text-left px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
                      Sign out
                    </button>
                  </a>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div :class="{'block': open, 'hidden': !open}" class="hidden lg:hidden">
    <div class="px-2 pt-2 pb-3">
      <a href="/" class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Jobs</a>
      <a href="/employers" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Employers</a>
      <a href="/about" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">About</a>
      <a href="/contact" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Contact</a>
    </div>
    <div class="pt-4 pb-3 border-t border-gray-700">
      <div class="flex items-center px-5">
        <div class="flex-shrink-0">
          <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
        </div>
        <div class="ml-3">
          <div class="text-base font-medium leading-6 text-white">Tom Cook</div>
          <div class="text-sm font-medium leading-5 text-gray-400">tom@example.com</div>
        </div>
      </div>
      <div class="mt-3 px-2">
        <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Your Profile</a>
        <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Settings</a>
        <a href="/logout" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Sign out</a>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="w-full flex fixed z-10 bg-white justify-between items-center p-2 border-b-2 shadow-md">
	<a href="/">
		<div class="flex flex-row items-center">
			<div class="mr-2"><span class="mdi mdi-briefcase-outline text-5xl text-blue-500"></span></div>
			<h2><span class="font-light text-gray-600">WORK</span><span class="font-bold">hays</span></h2></div>
	</a>
	<div class="flex flex-row justify-center items-center">
		<a title="Home" href="/"
			 class="hover:text-blue-400 text-blue-500 focus:outline-none mr-4 text-lg">Home</a>
		<a title="Employers" href="/employers"
			 class="hover:text-blue-400 text-blue-500 focus:outline-none mr-4 text-lg">Employers</a>
		<a title="Events" href="/events"
			 class="hover:text-blue-400 text-blue-500 focus:outline-none mr-4 text-lg">Events
		</a>
		<a title="Information" href="/info"
			 class="hover:text-blue-400 text-blue-500 focus:outline-none mr-4 text-lg">Info
		</a>
		<a title="Help" href="/help"
			 class="hover:text-blue-400 text-blue-500 focus:outline-none mr-4 text-lg">Help
		</a>
		<a title="Contact" href="/contact"
			 class="hover:text-blue-400 text-blue-500 focus:outline-none mr-4 text-lg">Contact
		</a>
		<% if (user) { %>
			<div>
				<div class="flex flex-row">
					<div class="relative mr-4" x-data="{ open: false }">
						<button @click="open = !open"
										class="focus:outline-none flex flex-row items-center">
							<span class="mdi mdi-account-circle text-4xl text-blue-500 hover:text-blue-400"></span>
						</button>
						<ul x-show="open"
								@click.away="open = false"
								class="w-32 bg-white shadow-lg border rounded absolute right-0">
							<li class="px-2 py-1">
								<span class="text-lg text-blue-500 focus:outline-none">
									Hi, <%= user.first_name %>
								</span>
							</li>
							<a href="/job-listing-new">
								<li class="hover:bg-gray-100 cursor-pointer px-2 py-1 text-lg text-green-500 focus:outline-none">
									New Listing
								</li>
							</a>
							<a href="/account">
								<li class="hover:bg-gray-100 cursor-pointer px-2 py-1 text-lg text-blue-500 focus:outline-none">
									Account
								</li>
							</a>
							<a href="/logout">
								<li class="hover:bg-gray-100 cursor-pointer px-2 py-1 text-lg text-red-500 focus:outline-none">
									Sign Out
								</li>
							</a>
						</ul>
					</div>
				</div>
			</div>
		<% } else { %>
			<a href="/signup">
				<button class="mr-2 bg-blue-500 px-4 py-2 rounded hover:bg-blue-400 text-white focus:outline-none text-lg">Sign
					Up
				</button>
			</a>
			<a href="/signin">
				<button class="bg-green-500 px-4 py-2 rounded hover:bg-green-400 text-white focus:outline-none text-lg">Sign In
				</button>
			</a>
		<% } %>
	</div>

</div> -->