<%/*
===========================================================================

Description:
Privacy Policy

To Do:

Params:


===========================================================================
*/%>

<!DOCTYPE html>
<html lang="en">
<body class="flex flex-col min-h-screen">
<%- include('../partials/navbar', {title: 'Work Hays'}) %>
<main class="flex-grow mx-auto pt-32 bg-gray-200 p-12 shadow-xl h-screen relative h-full container max-w-6xl">
    <div>Policy Here</div>
</main>
<footer>
    <%- include('../partials/footer') %>
</footer>
</body>

</html>