# dotenv environment variables file
.env
.env.test
app/config/config.json

# Dependency directories
node_modules/
.npm
yarn.lock

# mac os
.DS_Store

# styles
public/dist

# misc
.idea

# build version
version.json

# uploads
public/uploads/employers/*

# backups directory
backups/

# next on netlify stuff
.next/
out_functions/
out_publish/