# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Architech secrets
preferences.arc

# File built with 'arc deploy --dry-run'
sam.json

# File built with 'arc deploy' that gets uploaded to CloudFormation
sam.yaml

# Seeded database file for working locally with fake data
sandbox-seed.json