<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
    <script src="/js/alpine-polyfill.min.js"></script>
    <script src="/js/alpine-proxy-polyfill.min.js"></script>
    <script src="/js/alpine.min.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>