<%/* 
===========================================================================

Description:
Error 404 page. Will display when route doesn't exist or has moved.

To Do:
- Make it pretty
- Give users something to click on

Params:


===========================================================================
*/%>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>