<%/* 
===========================================================================

Description:
Error 404 page. Will display when route doesn't exist or has moved.

To Do:
- Make it pretty
- Give users something to click on

Params:


===========================================================================
*/%>

<div>
    Error 404
</div>