<%- include('./partials/page_start', {title: 'Work Hays'}) %>

<div class="max-w-4xl mx-auto mt-24">
    <div class="flex align-center justify-center items-center ml-10">
        <img src="/images/404.gif" alt="" class=" h-48 w-auto" />
    </div>
    <div class="text-6xl text-blue-500 font-bold w-1/2 text-center mx-auto">
        404
    </div>
    <h2 class="w-1/2 text-center mx-auto text-gray-700">
        Uh Oh! We can't seem to find what you're looking for.
    </h2>
</div>

<%- include('./partials/page_end') %>
