<%- include('../../partials/page_start', {title: `4 way to build a long lasting
career in IT`, description: `Learn 4 ways to build a long lasting career in IT
by Cody McBride.`}) %>

<div class="max-w-3xl mx-auto mb-24 mt-12 px-3 lg:px-0">
    <div>
        <img
            src="https://images.unsplash.com/photo-1578496479939-722d9dd1cc5b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80"
            alt="Man sitting at computer"
        />
        <figcaption class="mb-8 italic">Photo by Unsplash</figcaption>
    </div>
    <p class="pb-8 leading-loose">
        Information Technology (IT) impacts every aspect of life, from the way
        we live, play, and work. It is no surprise then that IT has become the
        fastest growing industry, and will likely stay in first place for years
        to come. The dominance of the
        <a
            class="text-blue-500 underline"
            href="https://www.statista.com/topics/5275/employment-in-the-it-industry/"
            >IT job market</a
        >
        is due to numerous factors, which means there are also numerous paths
        you can choose. One thing they all have in common— they are high paying
        and in demand. This is true nationwide, but it is especially true in
        Hays and its surrounding Kansas communities.
    </p>
    <p class="pb-8 leading-loose">
        Looking to begin an IT career path? Now is the time to take advantage of
        the opportunities from this diverse and vibrant field. The recruiters at
        <a class="text-blue-500 underline" href="https://workhays.com"
            >Work Hays</a
        >
        have developed this list of suggestions to help you get started and stay
        successful in your IT career.
    </p>
    <h3 class="pb-4 text-lg font-semibold">Earn your degree online</h3>
    <p class="pb-8 leading-loose">
        Landing the IT job you want starts with earning the degree you need. An
        online bachelor’s degree in information technology can open doors to
        some of today’s most-needed (and often
        <a
            class="text-blue-500 underline"
            href="http://techgenix.com/highest-paying-it-jobs-2020/"
            >highest paying</a
        >) careers. For example, a bachelor’s degree in information technology
        can pave the way to analytics,
        <a
            class="text-blue-500 underline"
            href="https://www.wgu.edu/online-it-degrees/information-technology-bachelors-program.html"
            >network security</a
        >, systems analyst, mobile apps, database management— and often with
        room to quickly grow to a six-figure salary.
    </p>
    <h3 class="pb-4 text-lg font-semibold">Craft the perfect cover letter</h3>
    <p class="pb-8 leading-loose">
        While your resume will display your education and relevant work
        experience, it is truly your cover letter that will get you noticed. For
        every job posting, there could be dozens to hundreds and even thousands
        of applicants, and you want to stand out. A well-written and thoughtful
        <a
            class="text-blue-500 underline"
            href="https://www.themuse.com/advice/how-to-write-a-cover-letter-31-tips-you-need-to-know"
            >cover letter</a
        >
        includes stating how your values align with the company’s and how your
        experience can be of value in helping them achieve their goals. If you
        still feel like your resume comes up short, recruiters like
        <a class="text-blue-500 underline" href="https://workhays.com"
            >Work Hays</a
        >
        can help. You can boost your skills by getting hands-on experience from
        temporary, contract, and seasonal work.
    </p>
    <h3 class="pb-4 text-lg font-semibold">Practice Interviewing</h3>
    <p class="pb-8 leading-loose">
        Your resume and cover letter will get you in the door, but it’s how well
        you
        <a
            class="text-blue-500 underline"
            href="https://www.thebalancecareers.com/top-interview-tips-2058577"
            >interview</a
        >
        that will land your dream job. An interview helps the hiring team know
        if you’ll be a good fit for the team and culture, two criteria that are
        almost as important as having the right skills for the job. Interviews
        can make even seasoned pros feel
        <a
            class="text-blue-500 underline"
            href="https://www.verywellmind.com/tips-cope-with-job-interview-anxiety-3024324"
            >anxious</a
        >, so practice as much as you can beforehand. Research the common
        questions for your position and rehearse your answers. Practice in front
        of friends, family, classmates, and colleagues to get real and authentic
        feedback.
    </p>
    <h3 class="pb-4 text-lg font-semibold">Plan your next steps</h3>
    <p class="pb-8 leading-loose">
        Once you are standing solid in your job, you may want to start thinking
        about the next step on your career path. For many people, especially in
        IT, this means looking to see for the next potential opportunity. Plan
        your trajectory from there. Interested in managing people and projects?
        Set goals to grow your skills as a manager. Want more senior-level
        responsibility? Contribute to projects where you can observe and engage
        with high-performing senior IT professionals. These don’t have to be
        steps you achieve right away—or even in the next few years. But you
        should start planning now so you know what
        <a
            class="text-blue-500 underline"
            href="https://getlighthouse.com/blog/what-are-your-career-goals/"
            >milestones</a
        >
        you need to accomplish to get there.
        <br />
        <br />
        Starting your career as an IT professional may seem daunting at first,
        but this list is a first step toward what you need to succeed. Getting
        the right kind of experience in temporary jobs can also be the perfect
        resume booster to enhance your career. And if you need help moving
        forward in your job search, reach out to
        <a class="text-blue-500 underline" href="https://workhays.com"
            >Work Hays</a
        >. We can provide you with connections for landing a local, lucrative
        position as an IT professional.
    </p>
</div>

<%- include('../../partials/page_end') %>
