<% /* ===========================================================================
Description: Employer Inquiry page to request access to site. To Do: Params:
=========================================================================== */ %>
<%- include('../partials/page_start', {title: 'Contact', description: 'Please fill out the following form to contact us. We will try to respond as soon as we can.'}) %>

<div x-data="contact()" x-init="searchUrlParameters" class="max-w-2xl mx-auto mt-8">

	<div x-show="showSuccessMessage" class="mb-8 p-4 bg-green-400 rounded shadow text-white flex items-center mx-4 md:mx-0" style="display:none;">
		<div class="mr-4 ">
			<i data-feather="check-circle" class="w-5 h-5"></i>
		</div>
		<div>
			<p class="font-bold leading-5">
				Success
			</p>
			<p class="text-base leading-tight">
				Your form has been successfully submitted.
			</p>
		</div>
	</div>

	<div x-show="showErrorMessage" class="mb-8 p-4 bg-red-500 rounded shadow text-white flex items-center mx-4 md:mx-0" style="display:none;">
		<div class="mr-4 ">
			<i data-feather="alert-circle" class="w-5 h-5"></i>
		</div>
		<div>
			<p class="font-bold leading-5">
				Error
			</p>
			<p class="text-base leading-tight">
				Something went wrong. Make sure all required fields are complete and accurate.
			</p>
		</div>
	</div>

	<div x-show="showErrorEmailMessage" class="mb-8 p-4 bg-red-500 rounded shadow text-white flex items-center mx-4 md:mx-0" style="display:none;">
		<div class="mr-4 ">
			<i data-feather="alert-circle" class="w-5 h-5"></i>
		</div>
		<div>
			<p class="font-bold leading-5">
				Error
			</p>
			<p class="text-base leading-tight">
				Please provide a valid email address
			</p>
		</div>
	</div>

	<form x-on:submit="return validateForm()" method="post" action="/contact">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-4 md:px-0">
			<div>
				<label class="text-sm text-gray-600 mb-2">
					* First Name
				</label>
				<input name="first" x-model="form.first" class="mr-0 mb-3 w-full rounded px-3 py-2 shadow focus:outline-none focus:shadow-outline-blue" type="text" placeholder="Jane" />
			</div>
			<div>
				<label class="text-sm text-gray-600 mb-2">
					* Last Name
				</label>
				<input name="last" x-model="form.last" class="mr-0 mb-3 w-full rounded px-3 py-2 shadow focus:outline-none focus:shadow-outline-blue" type="text" placeholder="Doe" />
			</div>
			<div>
				<label class="text-sm text-gray-600 mb-2">
					* Email Address
				</label>
				<input name="email" x-model="form.email" class="mr-0 mb-3 w-full rounded px-3 py-2 shadow focus:outline-none focus:shadow-outline-blue" type="email" placeholder="jane@example.com" />
			</div>
			<div>
				<label class="text-sm text-gray-600 mb-2">
					Phone Number
				</label>
				<input name="phone" class="mr-0 mb-3 w-full rounded px-3 py-2 shadow focus:outline-none focus:shadow-outline-blue" type="text" placeholder="123-456-7890" />
			</div>
			<div class="md:col-span-2">
				<label class="text-sm text-gray-600 mb-2">
					* Message
				</label>
				<textarea name="message" x-model="form.message" placeholder="What can we help with?" rows="3" class="mr-0 mb-3 w-full rounded px-3 py-2 shadow focus:outline-none focus:shadow-outline-blue"></textarea>
				<p class="text-xs text-gray-700">
					(*) denotes a required field
				</p>
			</div>
			<div>
				<button class="w-full lg:w-auto px-3 py-2 text-sm font-medium rounded text-white bg-blue-500 focus:outline-none focus:shadow-outline-blue transition ease-in-out duration-150 shadow border border-blue-500 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
					Submit
				</button>
			</div>
		</div>
	</form>
</div>

<script>
	function contact() {
		return {
			showSuccessMessage: false,
			showErrorMessage: false,
			showErrorEmailMessage: false,
			form: {
				first: '',
				last: '',
				email: '',
				message: ''
			},
			validateEmail: function (email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
			validateForm: function () {

				var fields = this.form
				if(fields.first !== '' && fields.last !== '' && fields.email !== '' && fields.message !== '') {
					if(this.validateEmail(fields.email)){
						return true
					} else {
						this.showErrorEmailMessage = true
						this.showErrorMessage = false
						return false
					}
				} else {
					this.showErrorEmailMessage = false
					this.showErrorMessage = true
					return false
				}

			},
			searchUrlParameters: function () {
				var url = new URL(window.location.href)
				var successMessage = url.searchParams.get("success")
				var errorMessage = url.searchParams.get("error")

				// if success
				if(successMessage) {
					this.showSuccessMessage = true
					this.showErrorMessage = false
				}

				// if error
				if(errorMessage) {
					this.showErrorMessage = true
					this.showSuccessMessage = false
				}
			}
		}
	}
</script>

<%- include('../partials/page_end') %>
