<% /* ===========================================================================
Description: Employer business information page. To Do: Params:
=========================================================================== */ %>
<!DOCTYPE html>
<html class="h-full" lang="en">

<body class='flex w-full flex-col h-full'>
<nav>
	<%- include('../partials/navbar', { title: 'Work Hays' }) %>
</nav>

<main class="flex-1 mx-auto pt-32 container max-w-6xl p-12 bg-gray-200 shadow-xl">
	<a href="/employers/">
		<div class="flex flex-row items-center text-blue-500 hover:text-blue-400 text-base">
			<div><span class="mdi mdi-arrow-left"/></div>
			<div class="ml-2">Back to All Employers</div>
		</div>
	</a>
	<div class="flex flex-col pt-4">
		<h2><%= employer.title %></h2>
		<div class="flex flex-row italic text-gray-700 text-sm">
			<div>HR Contanct: Jane Doe</div>&nbsp;&#183;&nbsp;<div>
				Email: janedoe@example.com
			</div>
		</div>
		<div class="mt-10 text-base">
			Static
		</div>
	</div>
</main>

<footer class="text-center bg-gray-200 container pb-8 max-w-6xl shadow-xl mx-auto pin-b">
	<%- include('../partials/footer') %>
</footer>
</body>

</html>
