<%/* ===========================================================================
Description: Employer business information page. To Do: Params:
=========================================================================== */%>
<!DOCTYPE html>
<html class="h-full" lang="en">
  <body class="flex w-full flex-col h-full">
    <nav>
      <%- include('../partials/navbar', { title: 'Work Hays' }) %>
    </nav>

    <main
      class="flex-1 mx-auto pt-32 container max-w-6xl p-12 bg-gray-200 shadow-xl flex"
    >
    <div class="h-64"><%- include('../partials/employerCard', { title: 'Work Hays' }) %></div>
    </main>

    <footer
      class="text-center bg-gray-200 container pb-8 max-w-6xl shadow-xl mx-auto pin-b"
    >
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
