<%/* 
===========================================================================

Description:
Home/index page of website.

To Do:

Params:


===========================================================================
*/%>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: 'Home Page'}) %>
</head>

<body>

    <div>
        <h1>This is the title <%= title %></h1>
        <p>Welcome to templating using EJS</p>
    </div>

    <%if (process.env.NODE_ENV === 'production') { %>
    <div>
        This app is in production!
    </div>
    <% }else { %>
    <div>
        This app is is development
    </div>
    <% } %>

    <div class="bg-red-500 text-4xl font-black">
        <ul>
            <% if (jobs.length > 0) { %>
            <% jobs.forEach(function(job) { %>
            <li><%= job.title %></li>
            <% }); %>
            <% } %>
        </ul>
    </div>

    <div x-data="{ showDropdown: false }">
        Dropdown example
        <button @click="showDropdown = true" class="bg-blue-500 px-4 py-2 rounded">
            Click to toggle dropdown
        </button>
        <div x-show="showDropdown" @click.away="showDropdown = false" class="bg-gray-500">
            Dropdown content
        </div>
    </div>

</body>

</html>