<%/* 
===========================================================================

Description:
Home/index page of website.

To Do:

Params:


===========================================================================
*/%>

<!DOCTYPE html>
<html class="h-full" lang="en">
<body class='flex w-full flex-col h-full'>
    <pagehead>
        <%- include('../partials/navbar', { title: 'Work Hays' }) %>
    </pagehead>

    <pagecontainer class="flex-1 mx-auto pt-32 container max-w-6xl p-12 bg-gray-200 shadow-xl">
            <%- include('../partials/jobs', { jobs: jobs }) %>
    </pagecontainer>

    <pagefooter class="text-center bg-gray-200 container pb-8 max-w-6xl shadow-xl mx-auto pin-b">
        <%- include('../partials/footer') %>
    </pagefooter>
</body>
</html>