<%/* 
===========================================================================

Description:
Home/index page of website.

To Do:

Params:


===========================================================================
*/%>

<!DOCTYPE html>
<html lang="en">
<%- include('../partials/navbar', {title: 'Work Hays'}) %>

<body>
    <div class="mx-auto pt-20 bg-gray-200 p-8 shadow-xl h-full container max-w-6xl">
        <%- include('../partials/jobs') %>
        <%- include('../partials/footer') %>
    </div>
</body>

</html>