<%/* 
===========================================================================

Description:
Home/index page of website.

To Do:

Params:


===========================================================================
*/%>

<!DOCTYPE html>
<html lang="en">
<%- include('../partials/navbar', {title: 'Work Hays'}) %>
<body class="mt-20">
<%- include('../partials/jobs') %>
</body>

</html>