<% /*
===========================================================================

Description:
Home/index page of website.

To Do:

Params:


===========================================================================
*/ %>

<%- include('../partials/page_start', {title: 'Work Hays'}) %>

<div class="flex-1 mx-auto pt-32 container max-w-6xl p-12 bg-gray-200 shadow-xl">
	<%- include('../partials/jobs', { jobs, count, pages, current_page, moment }) %>
</div>

<%- include('../partials/page_end') %>