<%/* 
===========================================================================

Description:
Single Job

To Do:

Params:


===========================================================================
*/%>

<div>
    JOB
</div>

<div>
    <%= title %>
</div>