<% /* ===========================================================================
Description: Archived job listing page for old/closed job listings. To Do: archive view, edit view, new listing view Params:
=========================================================================== */ %>
<!DOCTYPE html>
<html class="h-full" lang="en">
<body class="flex w-full flex-col h-full">
<nav>
	<%- include('../partials/navbar', { title: 'Work Hays' }) %>
</nav>

<main
	class="flex-1 mx-auto pt-32 container max-w-6xl p-12 bg-gray-200 shadow-xl"
>
	<div class="p-4">
		<a href="/account" class="flex flex-row w-1/4 items-center text-blue-500 hover:text-blue-400 text-base">
			<div><span class="mdi mdi-arrow-left"/></div>
			<div class="ml-2">Back to Account Settings</div>
		</a>
		<h2>Archived Job Listings</h2>
	</div>
	<div class="flex flex-col">
		<div class="p-6 bg-white shadow-xl w-4/5 mx-auto rounded mb-4">
			<!--<div class="text-gray-500 font-bold">Archived Job Listings</div>-->
			<div class="px-8 mt-6">
					<% jobs.forEach(function(job) { %>
						<div class="mt-1 mb-1 p-2 pl-4 pr-4 bg-white border-red-400 border mx-auto max-w-5xl rounded">
							<div class="flex justify-between">
								<div class="flex flex-col">
									<div class="text-xl"><%= job.title %></div>
									<div class="flex flex-row italic text-gray-600 text-sm">
										<div><%= job.updatedAt %></div>
									</div>
								</div>
								<div class="flex items-center">
									<a href="#"
										class="px-2 py-2 bg-transparent text-blue-500 cursor-pointer hover:bg-blue-400 focus:bg-blue-400 rounded text-sm focus:outline-none border border-blue-500 hover:border-transparent hover:text-white">View
										Listing</a></div>
							</div>
						</div>
						<% }) %>
			</div>
		</div>
	</div>
</main>

<footer
	class="text-center bg-gray-200 container pb-8 max-w-6xl shadow-xl mx-auto pin-b"
>
	<%- include('../partials/footer') %>
</footer>
</body>
</html>


