<% /* ===========================================================================
Description: Request reset password page. To Do: Params:
=========================================================================== */ %>
<!DOCTYPE html>
<html class="h-full" lang="en">

<body class="flex w-full flex-col h-full">
<nav>
	<%- include('../partials/navbar', { title: 'Work Hays' }) %>
</nav>

<main class="flex-1 mx-auto pt-32 container max-w-6xl p-12 bg-gray-200 shadow-xl">
	<a href="/" class="flex w-1/4 mb-4 flex-row items-center text-blue-500 hover:text-blue-400 text-base">
		<div><span class="mdi mdi-arrow-left" /></div>
		<div class="ml-2">Back to All Listings</div>
	</a>
	<h2>Password Reset Request</h2>
	<div class="mt-6 mb-6">Please enter your email address below to have a link sent to you to reset your password.</div>
	<div class="flex justify-center self-center">
		<div class="w-full max-w-xs">
			<form action="passwordreset" method="" id="passwordreset" name="passwordreset"
						class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
				<div class="mb-4">
					<label class="block text-gray-700 text-sm font-bold mb-2" for="email">
						Email Address
					</label>
					<input
						class="text appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
						id="username" name="email" type="text" placeholder="Email Address" />
				</div>
				<div class="flex items-center justify-between">
					<button
						class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
						type="submit" value="Password Reset">
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</main>

<footer class="text-center bg-gray-200 container pb-8 max-w-6xl shadow-xl mx-auto pin-b">
	<%- include('../partials/footer') %>
</footer>
</body>

</html>