/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
@import './fonts/inter.css';
@import '../node_modules/trix/dist/trix.css';

/** custom css goes below **/
body {
    font-family: 'Inter', sans-serif;
    color: #2d3748;
}

.bg-overlay-500 {
    background: rgba(0, 0, 0, 0.5);
}

.feather {
    stroke-width: 1.4;
}
