/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
@import './fonts/inter.css';
@import '../node_modules/trix/dist/trix.css';

/** custom css goes below **/
html {
    font-family: 'Inter', sans-serif;
    color: #2d3748;
}

h1 {
    @apply text-4xl text-black font-bold;
}

h2 {
    @apply text-3xl text-black font-bold;
}

h3 {
    @apply text-2xl text-black font-bold;
}

.bg-overlay-500 {
    background: rgba(0, 0, 0, 0.5);
}
