<%- include('../../partials/page_start', {title: 'Admin Employers', description: 'Manage employer accounts'}) %>

<div class="max-w-4xl mx-auto mt-12">
	<div class="grid grid-cols-1 md:grid-cols-8 gap-4">
		<%- include('../../partials/admin_sidebar') %>
		<div x-data="admindata()" x-init="getData" class="col-span-1 md:col-span-6">
            <!-- content -->
            
            <!-- popup -->
            <div x-show="isPopupVisible" class="fixed z-30 top-0 left-0 w-screen h-screen overflow-y-scroll" style="background-color: rgba(0,0,0,0.5);display:none;">
                <div x-on:click.away="closePopup()" class="max-w-5xl w-full bg-white p-4 my-12 mx-auto">
                    <div class="flex justify-between">
                        <div>
                            Details
                        </div>
                        <div x-on:click="closePopup()">
                            Close X
                        </div>
                    </div>
                    <template x-if="currentlySelectedItem">
                        <div>
                            <div>
                                Job Id: <span x-html="currentlySelectedItem.id"></span>
                            </div>
                            <div>
                                Employer: 
                                <select x-model="currentlySelectedItem.employer_id">
                                    <template x-for="employer in employers">
                                        <option x-bind:selected="currentlySelectedItem.employer_id === employer.id" x-bind:value="employer.id" x-text="employer.title"></option>
                                    </template>
                                </select>
                            </div>
                            <div>
                                Title: <input x-model:value="currentlySelectedItem.title" class="bg-white p-1 ml-1 border border-gray-200"></input>
                            </div>

                            <div>
                                Job Type: <select x-model="currentlySelectedItem.job_type">
                                    <option value="full_time" x-bind:selected="currentlySelectedItem.job_type === 'full_time'">Full Time</option>
                                    <option value="part_time" x-bind:selected="currentlySelectedItem.job_type === 'part_time'">Part Time</option>
                                </select>
                            </div>

                            <div>
                                Description: <input x-model:value="currentlySelectedItem.description" class="bg-white p-1 ml-1 border border-gray-200"></input>
                            </div>

                            <div>
                                Application Link: <input x-model:value="currentlySelectedItem.application_link" class="bg-white p-1 ml-1 border border-gray-200"></input>
                            </div>

                            <div>
                                Status: <select x-model="currentlySelectedItem.status">
                                    <option value="active" x-bind:selected="currentlySelectedItem.status === 'active'">Active</option>
                                    <option value="inactive" x-bind:selected="currentlySelectedItem.status === 'inactive'">Inactive</option>
                                    <option value="archived" x-bind:selected="currentlySelectedItem.status === 'archived'">Archived</option>
                                </select>
                            </div>

                            <div>
                                <div x-show="isUpdating">
                                    Saving changes...
                                </div>
                                <button x-on:click="saveChanges(currentlySelectedItem)">
                                    Update Item
                                </button>
                            </div>
                        </div>
                    </template>

                    <template x-if="createNewItem">
                        <div>
                            <div>
                                Employer: 
                                <select x-model="newItem.employer_id">
                                    <option selected>Select an employer</option>
                                    <template x-for="employer in employers">
                                        <option x-bind:value="employer.id" x-text="employer.title"></option>
                                    </template>
                                </select>
                            </div>
                            <div>
                                Title: <input x-model:value="newItem.title" class="bg-white p-1 ml-1 border border-gray-200"></input>
                            </div>

                            <div>
                                Job Type: <select x-model="newItem.job_type">
                                    <option value="full_time" >Full Time</option>
                                    <option value="part_time">Part Time</option>
                                </select>
                            </div>

                            <div>
                                Description: <input x-model:value="newItem.description" class="bg-white p-1 ml-1 border border-gray-200"></input>
                            </div>

                            <div>
                                Application Link: <input x-model:value="newItem.application_link" class="bg-white p-1 ml-1 border border-gray-200"></input>
                            </div>

                            <div>
                                Status: <select x-model="newItem.status">
                                    <option default value="active">Active</option>
                                    <option value="inactive">Inactive</option>
                                    <option value="archived">Archived</option>
                                </select>
                            </div>
                            <div>
                                <div x-show="isUpdating">
                                    Saving changes...
                                </div>
                                <button x-show="newItem.employer_id" x-on:click="createNew(newItem)">
                                    Create Item
                                </button>
                            </div>
                        </div>
                    </template>
                </div>
            </div>

            <div class="flex flex-wrap">
                <template x-if="data_meta">
                    <div class="w-full">
                        Total Jobs:<span x-text="data_meta.count"></span>
                    </div>
                    <button class="bg-green-400 shadow" x-on:click="buildNew">
                       + Create Job 
                    </button>
                </template>
                <div class="w-full flex uppercase text-xs text-gray-600">
                    <div class="w-1/3">
                        Title
                    </div>
                    <div class="w-1/3">
                        Job Type
                    </div>
                    <div class="w-1/3">
                        Status
                    </div>
                </div>
                <template x-for="item in items" :key="item">
                    <div x-on:click="showPopup(item)" class="w-full flex justify-between text-gray-800 border-b hover:bg-white cursor-pointer">
                        <div x-text="item.title" class="w-1/3 truncate">
                            
                        </div>
                        <div x-text="item.job_type" class="w-1/3 truncate">
                            
                        </div>
                        <div x-text="item.status" class="w-1/3 truncate">
                            
                        </div>
                    </div>
                </template>
            </div>
            
            <!-- content end-->
		</div>
	</div>
</div>

<script>
    function admindata() {
        return {
            createNewItem: false,
            newItem: {},
            loading: false,
            data_meta: null,
            items: [],
            isPopupVisible: false,
            currentlySelectedItem: null,
            isUpdating: false,
            employers: [],
            buildNew: function() {
                this.createNewItem = true
                this.isPopupVisible = true
            },
            showPopup: function(item) {
                this.currentlySelectedItem = item
                this.isPopupVisible = true
            },
            closePopup: function() {
                this.currentlySelectedItem = null
                this.isPopupVisible = false
                this.createNewItem = false
            },
            getRowClass: function (user_id) {
                if(user_id === 'unclaimed') {
                    return 'bg-orange-400'
                } else {
                    return 'bg-white'
                }
            },
            getData: function() {
                var _this = this;
                this.loading = true
                this.fetchData().then((data) => {
                    console.log(data)
                    _this.loading = false
                    _this.data_meta = data.meta
                    _this.items = data.data
                })

                this.fetchEmployers().then(data => {
                    _this.employers = data.data
                })

            },
            saveChanges: function(item) {
                var _this = this;
                this.isUpdating = true
                this.updateItem(item).then((data) => {
                    window.alert('update successful')
                    _this.isUpdating = false
                })
            },
            createNew: function(item) {
                var _this = this;
                this.isUpdating = true
                this.createItem(item).then((data) => {
                    window.alert('created successfully')
                    _this.isUpdating = false
                    _this.createNewItem = false
                    _this.isPopupVisible = false
                    _this.newItem = {}
                })
            },
            fetchEmployers: async function () {
                const data = await fetch('/api/employers')
                return data.json()
            },
            fetchData: async function() {
                const data = await fetch('/api/jobs')
                return data.json()
            },
            createItem: async function(item) {
                const update = await fetch('/api/jobs', {
                     method: 'POST',
                     headers: {
                        'Content-type': 'application/json; charset=UTF-8'
                        },
                     body: JSON.stringify(item)
                 })
                 return update.json()
            },
            updateItem: async function(item) {
                 const update = await fetch('/api/jobs/'+item.id, {
                     method: 'PUT',
                     headers: {
                        'Content-type': 'application/json; charset=UTF-8'
                        },
                     body: JSON.stringify(item)
                 })
                 return update.json()
            }
        }
    }
</script>

<%- include('../../partials/page_end') %>