<%- include('../../partials/page_start', {title: 'Business', description: 'Manage your business profile. Update contact info, logo, and more.'}) %>

<div class="max-w-4xl mx-auto mt-12">
	<div class="grid grid-cols-1 md:grid-cols-8 gap-4">
		<%- include('../../partials/admin_sidebar') %>
		<div class="col-span-1 md:col-span-6 bg-blue-500">
			Content
		</div>
	</div>
</div>


<%- include('../../partials/page_end') %>