<%- include('../../partials/page_start', {title: 'Profile', description: 'Manage your login information or change your password.'}) %>

<div class="max-w-4xl mx-auto mt-12">
	<div class="grid grid-cols-1 md:grid-cols-8 gap-4">
		<%- include('../../partials/admin_sidebar') %>
		<div class="col-span-1 md:col-span-6">
			<!-- content -->
			<div>
				<div class="mb-4 px-4 md:px-0">
					<div class="text-lg font-semibold">
						Update Email
					</div>
					<div class="antialiased text-sm">
						Update your email below. Please make sure you have access to this new
						email for future password resets, notifications, and more. This email is not public and only used to login.
					</div>
				</div>
				<div class="px-4 md:px-0 mb-12">
					<form method="POST" action="/account/change_email">
						<div class="flex flex-col mb-2">
							<label class="text-sm text-gray-600">
								* Account Email
							</label>
							<input name="user_email" placeholder="you@email.com" value="<%= user.email %>" class="mr-0 mb-3 w-full md:w-1/2 rounded px-3 py-2 shadow focus:outline-none focus:shadow-outline-blue" type="email" />
						</div>
						<button type="submit" class="px-3 py-2 text-center text-sm font-medium rounded text-white bg-blue-500 focus:outline-none focus:shadow-outline-blue transition ease-in-out duration-150 shadow border border-blue-500 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
							Update Email
						</button>
					</form>
				</div>
				<div class="mb-4 px-4 md:px-0">
					<div class="mb-4">
						<div class="text-lg font-semibold">
							Password Reset
						</div>
						<div class="antialiased text-sm">
							Click below to send a password reset email
						</div>
					</div>
					<div>
						<a href="/password-reset" class="inline-block px-3 py-2 text-center text-sm font-medium rounded text-white bg-green-400 focus:outline-none focus:shadow-outline-blue transition ease-in-out duration-150 shadow border border-green-400 transition transform duration-75 ease-in-out hover:-translate-y-0.1">
							Reset Password
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<%- include('../../partials/page_end') %>